.root {
  display: grid;
  grid-template-areas: 'header' 'breadcrumb' 'mainVisual' 'content' 'navigationTop' 'footer';
  grid-template-rows: auto auto auto 1fr auto auto;
  min-height: 100%;
  width: 100%;
}
