---
// Styles
import styles from '@components/structures/Footer/Footer.module.css';
---
<footer class={styles.root}>
  <div class={styles.outer}>
    <div class={styles.inner}>Footer</div>
  </div>
</footer>
