.root {
  grid-area: content;
}

.outer {
  --color-foreground: var(--COLOR_FOREGROUND_DARK);
  --color-background: var(--COLOR_BACKGROUND_LIGHT);

  color: var(--color-foreground);
  background-color: var(--color-background);
  display: grid;
  /*
   * https://min-max-calculator.9elements.com/
   * 16, 40, 375, 1220
   */
  gap: 0 clamp(1rem, 0.334rem + 2.84vw, 2.5rem);
  grid-column: 1 / 4;
  grid-template-columns: 1fr minmax(
      var(--CONTENT_WIDTH_SP),
      var(--CONTENT_WIDTH_PC)
    ) 1fr;

  &.theme-dark {
    --color-foreground: var(--COLOR_FOREGROUND_LIGHT);
    --color-background: var(--COLOR_BACKGROUND_DARK);
  }

  &.theme-narrow {
    --CONTENT_WIDTH_PC: 1000px;
  }

  &.theme-wide {
    --CONTENT_WIDTH_PC: 1600px;
  }

  &.theme-full {
    --CONTENT_WIDTH_PC: 100%;
  }
}

.inner {
  grid-column: 2 / 3;
  padding: 40px 0;

  > :is(:first-child) {
    margin-top: 0;
  }

  > :is(:last-child) {
    margin-bottom: 0;
  }
}

/* PC Viewport */
@media (width >= 768px) {
  .inner {
    padding: 80px 0;
  }
}
