---
// Styles
import styles from '@components/structures/NavigationTop/NavigationTop.module.css';
---
<div class={styles.root}>
  <div class={styles.inner}>
    <a class={styles.link} href="#top">画面最上部へ戻る</a>
  </div>
</div>
