---
// Styles
import styles from '@components/structures/Header/Header.module.css';
---
<header class={styles.root}>
  <div class={styles.outer}>
    <div class={styles.inner}>Header</div>
  </div>
</header>
